.goBtnBox {
	position: relative;
	width: auto;
	z-index: 1;
	display: flex;
	justify-content: center;
	left: -27px;
}

/* @media (max-width: 768px) {
	margin: 0 0 0 0.8em;
	min-width: 55px;
	min-height: 55px;
}
@media (max-width: 414px) {
	margin: 0 0.5em 0 0;
	min-width: 45px;
	min-height: 45px;
} */
