.goBtnBox {
	position: absolute;
	width: 100%;
	left: 14%;
	bottom: -7vh;
	z-index: 1;
}

/* @media (max-width: 768px) {
	margin: 0 0 0 0.8em;
	min-width: 55px;
	min-height: 55px;
}
@media (max-width: 414px) {
	margin: 0 0.5em 0 0;
	min-width: 45px;
	min-height: 45px;
} */
