.moviecard-box {
	position: relative;
}

.moviecard {
	border-radius: 10%;
	width: 70%;
	box-shadow: 10px 5px 5px rgb(192, 190, 190);
}

.moviecard:hover {
	opacity: 0.6;
	transform: scale(1.2);
	cursor: pointer;
	transition: 0.5s ease-in-out;
}

.none {
	display: none;
}
