/* /* .swiper-container {
  width: 90%;
  height: 105%;
  background-color: #353535;
  border-radius: 20px 20px 20px 20px / 20px 20px 20px 20px;
} */

.swiper-wrapper {
  padding-inline-start: 0;
  list-style: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  margin-left: -0.7rem;
  margin-right: 0rem;
  font-weight: 900;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: whitesmoke !important;
}

.swiper-slide {
  width: 13% !important;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* .swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 17rem !important;
} */

.swiper-pagination-bullet {
  background: #cf3535 !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
  background: beige !important;
}
.swiper-pagination {
  z-index: 0 !important;
}

.cardImg:hover {
  cursor: pointer;
  border: solid 1px;
  transition: linear 0.5s ease-in-out;
}
