/* 영역 확인용  : border : 1px solid red; / 
border : 1px solid black;  */

.modal-open {
	overflow: hidden;
}

.nav_backgroud {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nav_showoff {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 98;
	background-color: rgba(0, 0, 0, 0.4);
}

.nav_detailbar {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	height: 100%;
	top: 8rem;
	color: white;
	z-index: 99;
	left: 50%;
	transform: translate(-50%, -5%);
	overflow: scroll;
}

.detail_top {
	display: flex;
	width: 100%;
	height: 35%;
	min-height: 250px;
	justify-content: space-between;
	background-color: rgb(30, 30, 30);
}

.detail_top_poster_box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
}

.detail_top_poster {
	height: 90%;
}

.detail_thumbs_box {
}

.detail_top_context {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: flex-start;
	padding: 0 2vw 0 2vw;
	width: 70%;
	height: 100%;
}

.title_box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2%;
}

.title_box_title {
	letter-spacing: 0px;
}

.title_box_btn {
	font-size: 25px;
	color: whitesmoke;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgb(30, 30, 30);
	margin: 0 -2% 3% 0;
}

.title_box_btn:hover {
	color: #f06363;
}

.genre_box {
	display: flex;
	margin-bottom: 5%;
}

.genre {
	margin: 0;
}

.character {
	margin-bottom: 1rem;
}

.actor {
	letter-spacing: 0.12px;
}

.smallText {
	font-size: 15px;
}

.detail_bottom {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #353535;
	position: relative;
}

.plot {
	margin: 0;
	width: 95%;
	letter-spacing: 0.25px;
	line-height: 23px;
}

.plot > b {
	cursor: pointer;
}

.plot-long {
	display: none;
}

.plot-long.on {
	display: block;
}

.plot.off {
	display: none;
}

.youtube_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: initial;
	width: 100%;
	height: 25%;
}

.like,
.hate,
.normal {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #f1a3a3;
	margin-right: 2vw;
	font-size: 5vh;
}

.like:hover,
.hate:hover,
.normal:hover {
	transform: scale(1.5);
	transition: 0.5s ease;
}

.none {
	display: none;
}
/* .back-drop {
	background: rgba(63, 61, 61, 0.692);
	height: 100%;
	position: fixed;
	transition: all 1.3s;
	width: 100%;
} */
