/* 영역 확인용  : border : 1px solid red; / 
border : 1px solid black;  */

.modal-open {
	overflow: hidden;
	/*NOTE 배포시에는 반드시 지우고!*/
	position: fixed;
}

.nav_backgroud {
	/* position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
  height: 100%; */
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	left: 0;
	will-change: scroll-position;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	z-index: 99;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
}

.nav_showoff {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.4);
}

.nav_detailbar {
	width: 915.02px;
	top: 370px;
	left: auto;
	transform: translateX(0px) translateY(calc(-332px + 2em)) scaleX(1) scaleY(1)
		translateZ(0px);
	box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
	opacity: 1;
	transform-origin: center top;
	margin-bottom: 2em;
	min-width: 850px;
	will-change: transform;
	position: absolute;
	color: #fff;
	background-color: transparent;
	font-size: 16px;
	z-index: 999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	overflow: hidden;
}

.detail_top {
	display: flex;
	width: 100%;
	height: 35%;
	min-height: 250px;
	justify-content: space-between;
	background-color: rgb(30, 30, 30);
}

.detail_top_poster_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 100%;
}

.detail_top_poster {
	height: 90%;
	max-height: 18rem;
}

.detail_thumbs_box {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	width: 70%;
	justify-content: space-evenly;
}

.detail_thumbs_box > div {
	position: inherit;
	/* top: -4.5rem; */
	/* width: auto; */
	/* height: auto; */
	border-radius: 100%;
	border: solid 3.2px white;
	width: 28%;
	top: -5.5rem;
	height: 57px;
}

.detail_thumbs_box > div > svg {
	top: 19%;
}

.detail_top_context {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	align-items: flex-start;
	padding: 0 2vw 0 2vw;
	width: 70%;
	height: 100%;
}

.title_box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 2%;
}

.title_box_title {
	letter-spacing: 0px;
}

.title_box_btn {
	font-size: 25px;
	color: whitesmoke;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: rgb(30, 30, 30);
	margin: 0 -2% 3% 0;
}

.title_box_btn:hover {
	color: #f06363;
}

.genre_box {
	display: flex;
	margin-bottom: 5%;
}

.genre {
	margin: 0;
}

.character {
	margin-bottom: 1rem;
}

.actor {
	letter-spacing: 0.12px;
}

.smallText {
	font-size: 15px;
}

.view-btn {
	cursor: pointer;
	display: none;
	align-self: flex-end;
	margin-bottom: 1rem;
}

.view-btn.open {
	display: block;
}

.view-btn.close {
	display: block;
}

.plot {
	margin: 0;
	width: 95%;
	letter-spacing: 0.25px;
	line-height: 23px;
}

.plot-long {
	display: none;
}

.plot-long._on {
	display: block;
	margin: 0;
	width: 95%;
	letter-spacing: 0.25px;
	line-height: 23px;
}

.plot-long._on > b {
	cursor: pointer;
}

.plot._off {
	display: none;
}

.detail_bottom {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #353535;
	position: relative;
}

/*Slider 관련*/

.detail_still_container {
	width: -webkit-fill-available;
	height: auto;
}

.detail_ul {
}

.detail_li {
	height: 200px !important;
	width: auto !important;
}
.still_img {
	height: -webkit-fill-available;
	width: auto !important;
}

.youtube_box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: initial;
	width: 100%;
	height: 25%;
}

.like,
.hate,
.normal {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #f1a3a3;
	margin-right: 2vw;
	font-size: 5vh;
}

.like:hover,
.hate:hover,
.normal:hover {
	transform: scale(1.5);
	transition: 0.5s ease;
}

.none {
	display: none;
}
/* .back-drop {
	background: rgba(63, 61, 61, 0.692);
	height: 100%;
	position: fixed;
	transition: all 1.3s;
	width: 100%;
} */
